@import '../modules/_colours';
@import '../modules/_mixins';

.settings {
  position: absolute;
  top: 20px;
  right: 20px;
}

.settings--visible {
  position: relative;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 15px;

  @include tablet {
    top: 13px;
    right: 13px;
    left: inherit;
    bottom: inherit;
    max-height: calc(100vh - 20px);
  }
}

.settings__close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.settings-pod__title, .settings-pod__circle-token-update-button {
  margin-bottom: 15px;
}
